:root {
    --black: #0a0a23;
    --white: #fff;
    --red: #c70d0d;
    --orange1: #feac32;
    --orange2: #fecc33;
    --orange3: #ffac4c;
}

body {
    background-color: var(--black);
  }
  
  #text {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: var(--white);
    color: var(--white);
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid var(--black);
    padding: 5px;
    color: var(--black);
  }
  
  #monsterStats {
    display: none;
    border: 1px solid var(--black);
    padding: 5px;
    color: var(--white);
    background-color: var(--red);
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: var(--black);
    background-color: var(--orange1);
    background-image: linear-gradient(var(--orange3), var(--orange2));
    border: 3px solid var(--orange1);
  }